@import "tailwindcss";


.marquee-track {
  display: flex;
  width: max-content;
  animation: marquee 35s linear infinite;
}

.marquee-item {
  white-space: nowrap;
  padding-right: 100px;
  font-size: 14px;
  font-weight: 600;
  color: #4c1d95;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}